
*.toc
*.gz
doc/551_Final_Project.pdf
*.out
*.log
*.aux
*.nav
*.snm
./.DS_Store
*.DS_Store
data/.Rhistory
code/full_model_inference.model
doc/551_Presentation_Beamer.pdf
code/full_model_inference_exp.model
code/plotss_exp.data
data/~$yearly_joint_data_clean.xlsx
data/old/post_pred_exp.csv
data/post_pred_exp.csv
code/.Rhistory
